*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

section{
    padding: 70px 5%;
}

.profile{
    width: 100%;
    background-color: #081420;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}
.container{
    height: auto;
    width: 100%;
    max-width: 460px;
    background-color: #222429;
    padding: 0px 0px 40px 0px;
    border-radius: 20px;
    transition:all .40s ease;
    cursor: pointer;
}
.container:hover{
    transform: scale(1.1);
}
.container img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.profile-text h1{
    margin: 30px 0 10px;
    font-size: 35px;
    color: #ffffffd9;
    line-height: 32px;
    font-weight: 600;
}
.profile-text h4{
    color: #2ecc71;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.icons i{
    display: inline-block;
    color: #ffffffd9;
    font-size: 26px;
    margin: 0px 7px;
    margin-bottom: 2.2rem;
    transition: all .40s ease;
}
.icons i:hover{
    transform: scale(1.1);
    color:#2ecc71;
}
.newslatter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.newslatter p{
    width: 100%;
    max-width: 370px;
    position: relative;
    color: aliceblue;
}

@media (max-width: 800px){
    section{
        padding: 20px 4%;
    }
    .container{
        width: 100%;
        height:auto;
        max-width: 600px;
    }
    .container img{
        width: 100%;
        height: 460px;
        object-fit: cover;
    }
}

.container__progressbars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 240px;
    width: 100%;
    min-height: 100%;
}

.progressbar {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 1em;
    transform: rotate(-90deg);
}

.progressbar__svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.progressbar__svg-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: white;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.shadow-html {
    filter: drop-shadow(0 0 5px #ff6633);
}

.shadow-css {
    filter: drop-shadow(0 0 5px #33bbff);
}

.shadow-csharp {
    filter: drop-shadow(0 0 5px #ff33ff);
}

.shadow-js {
    filter: drop-shadow(0 0 5px #ffff33);
}

.shadow-mvc {
    filter: drop-shadow(0 0 5px #2ecc72);
}

.shadow-aspnet {
    filter: drop-shadow(0 0 5px #0026ff);
}

.circle-html {
    -webkit-animation: anim_circle-html 1s ease-in-out forwards;
    animation: anim_circle-html 1s ease-in-out forwards;
}

.circle-css {
    -webkit-animation: anim_circle-css 1s ease-in-out forwards;
    animation: anim_circle-css 1s ease-in-out forwards;
}

.circle-csharp {
    -webkit-animation: anim_circle-csharp 1s ease-in-out forwards;
    animation: anim_circle-csharp 1s ease-in-out forwards;
}

.circle-js {
    -webkit-animation: anim_circle-js 1s ease-in-out forwards;
    animation: anim_circle-js 1s ease-in-out forwards;
}

.circle-mvc {
    -webkit-animation: anim_circle-mvc 1s ease-in-out forwards;
    animation: anim_circle-mvc 1s ease-in-out forwards;
}

 .circle-aspnet {
    -webkit-animation: anim_circle-aspnet 1s ease-in-out forwards;
    animation: anim_circle-aspnet 1s ease-in-out forwards;
}


.progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
}

@-webkit-keyframes anim_circle-html {
    to {
        stroke-dashoffset: 220;
    }
}

@keyframes anim_circle-html {
    to {
        stroke-dashoffset: 220;
    }
}

@-webkit-keyframes anim_circle-css {
    to {
        stroke-dashoffset: 66;
    }
}

@keyframes anim_circle-css {
    to {
        stroke-dashoffset: 66;
    }
}

@-webkit-keyframes anim_circle-csharp {
    to {
        stroke-dashoffset: 132;
    }
}

@keyframes anim_circle-csharp {
    to {
        stroke-dashoffset: 132;
    }
}

@-webkit-keyframes anim_circle-js {
    to {
        stroke-dashoffset: 88;
    }
}

@keyframes anim_circle-js {
    to {
        stroke-dashoffset: 88;
    }
}

@-webkit-keyframes anim_circle-mvc {
    to {
        stroke-dashoffset: 88;
    }
}

@keyframes anim_circle-mvc {
    to {
        stroke-dashoffset: 88;
    }
}

@-webkit-keyframes anim_circle-aspnet {
    to {
        stroke-dashoffset: 88;
    }
}

@keyframes anim_circle-aspnet {
    to {
        stroke-dashoffset: 88;
    }
}




